# Understanding Pandas Series and DataFrames - Lab

# Introduction

In this lab, let's get some hands on practice working with data cleanup using Pandas.

## Objectives
You will be able to:

* Manipulate columns in DataFrames (df.rename, df.drop)
* Manipulate the index in DataFrames (df.reindex, df.drop, df.rename)
* Manipulate column datatypes

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('turnstile_180901.txt')
print(len(df))
df.head()

197625

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,00:00:00,REGULAR,6736067,2283184
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,04:00:00,REGULAR,6736087,2283188
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,08:00:00,REGULAR,6736105,2283229
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,12:00:00,REGULAR,6736180,2283314
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,16:00:00,REGULAR,6736349,2283384

# Practice

## Objectives
You will be able to:
* Understand and explain what Pandas Series and DataFrames are and how they differ from dictionaries and lists
* Create Series & DataFrames from dictionaries and lists
* Manipulate columns in DataFrames (df.rename, df.drop)
* Manipulate the index in DataFrames (df.reindex, df.drop, df.rename)
* Manipulate column datatypes

# Rename all the columns to lower case

In [3]:
#Your code here

for x in df.columns:
    df.rename(columns={x : x.lower()}, inplace=True)

In [4]:
df.head()

,c/a,unit,scp,station,linename,division,date,time,desc,entries,exits
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,00:00:00,REGULAR,6736067,2283184
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,04:00:00,REGULAR,6736087,2283188
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,08:00:00,REGULAR,6736105,2283229
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,12:00:00,REGULAR,6736180,2283314
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,16:00:00,REGULAR,6736349,2283384

# Change the Index to be the Line Names

In [5]:
#Your code here
df.set_index('linename').head()

,c/a,unit,scp,station,division,date,time,desc,entries,exits
linename,,,,,,,,,,
NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,00:00:00,REGULAR,6736067,2283184
NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,04:00:00,REGULAR,6736087,2283188
NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,08:00:00,REGULAR,6736105,2283229
NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,12:00:00,REGULAR,6736180,2283314
NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,16:00:00,REGULAR,6736349,2283384

# Painstakingly change the index back

In [6]:
# Your code here
df.reset_index().head()

,index,c/a,unit,scp,station,linename,division,date,time,desc,entries,exits
0,0,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,00:00:00,REGULAR,6736067,2283184
1,1,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,04:00:00,REGULAR,6736087,2283188
2,2,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,08:00:00,REGULAR,6736105,2283229
3,3,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,12:00:00,REGULAR,6736180,2283314
4,4,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,16:00:00,REGULAR,6736349,2283384

## Create another column 'Num_Lines' that is a count of how many lines pass through a station. Then sort your dataframe by this column in descending order.

In [7]:
# Your code here
df['Num_Lines'] = df.linename.map(lambda x: len(x))
df.sort_values(by=['Num_Lines'], ascending=False)

,c/a,unit,scp,station,linename,division,date,time,desc,entries,exits,Num_Lines
132292,R151,R033,00-00-00,TIMES SQ-42 ST,1237ACENQRSW,IRT,08/30/2018,00:00:00,REGULAR,1417952,3267016,12
2686,A021,R032,01-00-01,TIMES SQ-42 ST,ACENQRS1237W,BMT,08/29/2018,16:00:00,REGULAR,2836145,3311412,12
2673,A021,R032,01-00-01,TIMES SQ-42 ST,ACENQRS1237W,BMT,08/27/2018,16:00:00,REGULAR,2830710,3305818,12
2674,A021,R032,01-00-01,TIMES SQ-42 ST,ACENQRS1237W,BMT,08/27/2018,20:00:00,REGULAR,2832048,3306310,12
2675,A021,R032,01-00-01,TIMES SQ-42 ST,ACENQRS1237W,BMT,08/28/2018,00:00:00,REGULAR,2832325,3306433,12
2676,A021,R032,01-00-01,TIMES SQ-42 ST,ACENQRS1237W,BMT,08/28/2018,04:00:00,REGULAR,2832359,3306438,12
2677,A021,R032,01-00-01,TIMES SQ-42 ST,ACENQRS1237W,BMT,08/28/2018,08:00:00,REGULAR,2832561,3306716,12
2678,A021,R032,01-00-01,TIMES SQ-42 ST,ACENQRS1237W,BMT,08/28/2018,09:57:08,REGULAR,2832815,3307705,12
2679,A021,R032,01-00-01,TIMES SQ-42 ST,ACENQRS1237W,BMT,08/28/2018,12:00:00,REGULAR,2832994,3308064,12
2680,A021,R032,01-00-01,TIMES SQ-42 ST,ACENQRS1237W,BMT,08/28/2018,16:00:00,REGULAR,2833390,3308536,12
2681,A021,R032,01-00-01,TIMES SQ-42 ST,ACENQRS1237W,BMT,08/28/2018,20:00:00,REGULAR,2834686,3309190,12
2682,A021,R032,01-00-01,TIMES SQ-42 ST,ACENQRS1237W,BMT,08/29/2018,00:00:00,REGULAR,2835069,3309328,12
2683,A021,R032,01-00-01,TIMES SQ-42 ST,ACENQRS1237W,BMT,08/29/2018,04:00:00,REGULAR,2835109,3309348,12
2684,A021,R032,01-00-01,TIMES SQ-42 ST,ACENQRS1237W,BMT,08/29/2018,08:00:00,REGULAR,2835310,3309579,12
2685,A021,R032,01-00-01,TIMES SQ-42 ST,ACENQRS1237W,BMT,08/29/2018,12:00:00,REGULAR,2835721,3310943,12
2687,A021,R032,01-00-01,TIMES SQ-42 ST,ACENQRS1237W,BMT,08/29/2018,20:00:00,REGULAR,2837390,3312091,12
2702,A021,R032,01-00-02,TIMES SQ-42 ST,ACENQRS1237W,BMT,08/25/2018,04:00:00,REGULAR,1965089,1942027,12
2688,A021,R032,01-00-01,TIMES SQ-42 ST,ACENQRS1237W,BMT,08/30/2018,00:00:00,REGULAR,2837721,3312246,12
2689,A021,R032,01-00-01,TIMES SQ-42 ST,ACENQRS1237W,BMT,08/30/2018,04:00:00,REGULAR,2837752,3312261,12
2690,A021,R032,01-00-01,TIMES SQ-42 ST,ACENQRS1237W,BMT,08/30/2018,08:00:00,REGULAR,2837924,3312478,12
2691,A021,R032,01-00-01,TIMES SQ-42 ST,ACENQRS1237W,BMT,08/30/2018,08:49:06,REGULAR,2838018,3312826,12
2692,A021,R032,01-00-01,TIMES SQ-42 ST,ACENQRS1237W,BMT,08/30/2018,12:00:00,REGULAR,2838332,3313701,12
2693,A021,R032,01-00-01,TIMES SQ-42 ST,ACENQRS1237W,BMT,08/30/2018,16:00:00,REGULAR,2838767,3314206,12
2694,A021,R032,01-00-01,TIMES SQ-42 ST,ACENQRS1237W,BMT,08/30/2018,20:00:00,REGULAR,2839999,3314879,12
2695,A021,R032,01-00-01,TIMES SQ-42 ST,ACENQRS1237W,BMT,08/31/2018,00:00:00,REGULAR,2840336,3315042,12
2696,A021,R032,01-00-01,TIMES SQ-42 ST,ACENQRS1237W,BMT,08/31/2018,04:00:00,REGULAR,2840375,3315061,12
2697,A021,R032,01-00-01,TIMES SQ-42 ST,ACENQRS1237W,BMT,08/31/2018,08:00:00,REGULAR,2840537,3315242,12
2698,A021,R032,01-00-01,TIMES SQ-42 ST,ACENQRS1237W,BMT,08/31/2018,12:00:00,REGULAR,2840895,3316295,12
2699,A021,R032,01-00-01,TIMES SQ-42 ST,ACENQRS1237W,BMT,08/31/2018,16:00:00,REGULAR,2841591,3316775,12
2700,A021,R032,01-00-01,TIMES SQ-42 ST,ACENQRS1237W,BMT,08/31/2018,20:00:00,REGULAR,2842280,3317347,12
...,...,...,...,...,...,...,...,...,...,...,...,...
112535,PTH04,R551,00-04-04,GROVE STREET,1,PTH,08/29/2018,03:54:11,REGULAR,53064,30905,1
112534,PTH04,R551,00-04-04,GROVE STREET,1,PTH,08/28/2018,23:42:11,REGULAR,53064,30893,1
112558,PTH04,R551,00-04-05,GROVE STREET,1,PTH,08/26/2018,04:04:23,REGULAR,28064,12480,1
112559,PTH04,R551,00-04-05,GROVE STREET,1,PTH,08/26/2018,08:16:23,REGULAR,28074,12483,1
112560,PTH04,R551,00-04-05,GROVE STREET,1,PTH,08/26/2018,12:28:23,REGULAR,28151,12494,1
112561,PTH04,R551,00-04-05,GROVE STREET,1,PTH,08/26/2018,16:40:23,REGULAR,28229,12514,1
112584,PTH04,R551,00-04-05,GROVE STREET,1,PTH,08/30/2018,17:16:23,REGULAR,32803,13807,1
112583,PTH04,R551,00-04-05,GROVE STREET,1,PTH,08/30/2018,13:04:23,REGULAR,32726,13762,1
112582,PTH04,R551,00-04-05,GROVE STREET,1,PTH,08/30/2018,08:52:23,REGULAR,32358,13726,1
112581,PTH04,R551,00-04-05,GROVE STREET,1,PTH,08/30/2018,04:40:23,REGULAR,31911,13640,1
112580,PTH04,R551,00-04-05,GROVE STREET,1,PTH,08/30/2018,00:28:23,REGULAR,31908,13639,1
112579,PTH04,R551,00-04-05,GROVE STREET,1,PTH,08/29/2018,20:16:23,REGULAR,31883,13597,1
112578,PTH04,R551,00-04-05,GROVE STREET,1,PTH,08/29/2018,16:04:23,REGULAR,31682,13414,1
112577,PTH04,R551,00-04-05,GROVE STREET,1,PTH,08/29/2018,11:52:23,REGULAR,31616,13390,1
112576,PTH04,R551,00-04-05,GROVE STREET,1,PTH,08/29/2018,07:40:23,REGULAR,31045,13260,1
112575,PTH04,R551,00-04-05,GROVE STREET,1,PTH,08/29/2018,03:28:23,REGULAR,30850,13245,1
112574,PTH04,R551,00-04-05,GROVE STREET,1,PTH,08/28/2018,23:16:23,REGULAR,30844,13237,1
112573,PTH04,R551,00-04-05,GROVE STREET,1,PTH,08/28/2018,19:04:23,REGULAR,30744,13164,1
112572,PTH04,R551,00-04-05,GROVE STREET,1,PTH,08/28/2018,14:52:23,REGULAR,30507,13036,1
112571,PTH04,R551,00-04-05,GROVE STREET,1,PTH,08/28/2018,10:40:23,REGULAR,30358,13013,1
112570,PTH04,R551,00-04-05,GROVE STREET,1,PTH,08/28/2018,06:28:23,REGULAR,29534,12894,1
112569,PTH04,R551,00-04-05,GROVE STREET,1,PTH,08/28/2018,02:16:23,REGULAR,29500,12893,1
112568,PTH04,R551,00-04-05,GROVE STREET,1,PTH,08/27/2018,22:04:23,REGULAR,29490,12881,1
112567,PTH04,R551,00-04-05,GROVE STREET,1,PTH,08/27/2018,17:52:23,REGULAR,29332,12754,1
112566,PTH04,R551,00-04-05,GROVE STREET,1,PTH,08/27/2018,13:40:23,REGULAR,29168,12698,1
112565,PTH04,R551,00-04-05,GROVE STREET,1,PTH,08/27/2018,09:28:23,REGULAR,28975,12659,1
112564,PTH04,R551,00-04-05,GROVE STREET,1,PTH,08/27/2018,05:16:23,REGULAR,28319,12541,1
112563,PTH04,R551,00-04-05,GROVE STREET,1,PTH,08/27/2018,01:04:23,REGULAR,28318,12541,1
112562,PTH04,R551,00-04-05,GROVE STREET,1,PTH,08/26/2018,20:52:23,REGULAR,28305,12531,1
197624,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/31/2018,21:00:00,REGULAR,5554,348,1

In [8]:
df.head()

,c/a,unit,scp,station,linename,division,date,time,desc,entries,exits,Num_Lines
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,00:00:00,REGULAR,6736067,2283184,7
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,04:00:00,REGULAR,6736087,2283188,7
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,08:00:00,REGULAR,6736105,2283229,7
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,12:00:00,REGULAR,6736180,2283314,7
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,16:00:00,REGULAR,6736349,2283384,7

## Write a function to clean a column name.

In [9]:
def clean(col_name):
    cleaned = col_name.strip().lower()
    return cleaned

In [10]:
#This is a list comprehension. It applies your clean function to every item in the list.
#We then reassign that to df.columns
#You shouldn't have to change anything here.
#Your function above should work appropriately here.
df.columns = [clean(col) for col in df.columns]

In [40]:
#Checking the output, we can see the results.
df.head(3)

  station linename       date  entries    exits  num_lines       day
0   59 ST  NQR456W 2018-08-25  6736067  2283184          7  Saturday
1   59 ST  NQR456W 2018-08-25  6736087  2283188          7  Saturday
2   59 ST  NQR456W 2018-08-25  6736105  2283229          7  Saturday

## Compare subway traffic by day of the week. Display this as a graph.

In [17]:
#Your code here

In [41]:
df.date = pd.to_datetime(df.date)
df['day'] = df.date.map(lambda x: x.day_name())

In [1]:
df.date = pd.to_datetime(df.date)
df['day'] = df.date.map(lambda x: x.day_name())
plot_data = df.groupby(['day'])['entries'].agg(['mean'])

NameError: name 'df' is not defined

## Is there more subway traffic on a weekend or a weekday?    Be specific in comparing magnitudes.

In [ ]:
#Your code here

# Drop a couple of columns

In [39]:
# Your code here
df = df.drop(['c/a', 'unit', 'division', 'scp', 'time', 'desc'], axis=1)